@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Monton';
    src: url("./assets/fonts/Monoton-Regular.ttf");
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

.monton {
    font-family: 'Monoton', cursive;
    font-weight: 900;
}

.container {
    @apply max-w-7xl mx-auto px-6;
}

button {
    @apply capitalize;
}